<header class="header">
	<div class="header__top">
		<div class="header__top-item">
			<div class="header__logo">
				<a href="/">
					<img class="header__logo-desktop" src="img/hn-logo.png" alt="">
					<img class="header__logo-mobile" src="img/hn-icon.png" alt="">
				</a>
			</div>
		</div>
		<div class="header__top-item">
			<div class="header__search">
				<form action="" autocomplete="on">
					<input class="search-input" name="search" type="text" placeholder="What're we looking for ?">
					<button class="search-submit" value="Search" type="submit"></button>
				</form>
			</div>


			<div class="header__top-item-inner">

				<div class="header__social">

					<div class="header__social-item">
						<a href="#">
							<img src="img/social/linkedin-new.png" alt="linkedin">
						</a>
					</div>
					<div class="header__social-item">
						<a href="#">
							<img src="img/social/facebook-new.png" alt="facebook">
						</a>
					</div>
					<div class="header__social-item">
						<a href="#">
							<img src="img/social/twitter-new.png" alt="twitter">
						</a>
					</div>
					<div class="header__social-item">
						<a href="#">
							<img src="img/social/youtube-new.png" alt="youtube">
						</a>
					</div>
					<div class="header__social-item">
						<a href="#">
							<img src="img/social/instagram-new.png" alt="instagram">
						</a>
					</div>
				</div>

			</div>
			<div class="header__btns">

				<a href="https://app.hackernoon.com/new" class="btn start">Start Writing</a>
				<a class="btn login" href="#">log in</a>


			</div>

			<div class="header__profile">
				<a href="#">
					<img src="https://hackernoon.com/avatars/5yEoCiZkbaV0cSrf4BfdVSgSzZH3.png" alt="User avatar">
				</a>

				<div class="profile__menu">
					<div class="profile__menu-box">
						<div class="profile__content">

							<ul>
								<li><a href="/u/firemonster">@firemonster</a></li>
								<li><a href="https://app.hackernoon.com/profile/self">Edit Profile</a></li>
								<li><a href="https://app.hackernoon.com/dashboard/drafts">Dashboard</a></li>
								<li><a href="https://app.hackernoon.com/dashboard/published">Stories</a></li>
								<li><a href="https://app.hackernoon.com/stats">Stats</a></li>
								<li><a href="https://app.hackernoon.com/subscriptions">Subscriptions</a></li>
								<li><a href="https://app.hackernoon.com/bookmarks">Bookmarks</a></li>
								<li><a href="http://sponsor.hackernoon.com" target="_blank">Sponsorships</a></li>
								<li><a href="http://help.hackernoon.com" target="_blank">Help</a></li>
								<li><button>Log out</button></li>
							</ul>

						</div>

					</div>
				</div>

			</div>




			<div class="header__theme">

				<div class="header__theme-bright">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path
							d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z">
						</path>
					</svg>
				</div>

				<div class="header__theme-dark">
					<svg viewBox="-12 0 448 448.04455" xmlns="http://www.w3.org/2000/svg">
						<path
							d="m224.023438 448.03125c85.714843.902344 164.011718-48.488281 200.117187-126.230469-22.722656 9.914063-47.332031 14.769531-72.117187 14.230469-97.15625-.109375-175.890626-78.84375-176-176 .972656-65.71875 37.234374-125.832031 94.910156-157.351562-15.554688-1.980469-31.230469-2.867188-46.910156-2.648438-123.714844 0-224.0000005 100.289062-224.0000005 224 0 123.714844 100.2851565 224 224.0000005 224zm0 0" />
					</svg>
				</div>

			</div>

			<div class="burger__menu">
				<div class="burger"></div>
			</div>

			<nav class="mobile__menu">

				<div class="mobile__menu-top">
					<a class="profile__link" href="https://app.hackernoon.com/profile">
						<img src="https://hackernoon.com/avatars/5yEoCiZkbaV0cSrf4BfdVSgSzZH3.png" alt="">
					</a>
					<div class="mobile__menu-close">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 492.004 492.004">
							<path
								d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136    c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002    v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864    c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872    l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z" />
						</svg>
					</div>

				</div>
				<div class="mobile__menu-layout">
					<ul class="mobile__menu-list">
						<li class="">
							<a href="/tagged">Read</a>
							<button class="dropdown-btn">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004">
									<path
										d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
								</svg>

							</button>
							<div class="mobile__menu-item dropdown">
								<section>
									<header>
										<a href="/tagged/tech">Tech</a>
										<button>
											<i class="fas fa-times" aria-hidden="true"></i>
										</button>
									</header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/tagged/ai">AI</a></li>
										<li class=""><a href="/tagged/automation">Automation</a></li>
										<li class=""><a href="/tagged/business">Business</a></li>
										<li class=""><a href="/tagged/data">Data</a></li>
										<li class=""><a href="/tagged/data-science">Data Science</a></li>
										<li class=""><a href="/tagged/deep-fakes">Deep Fakes</a></li>
										<li class=""><a href="/tagged/economics">Economics</a></li>
										<li class=""><a href="/tagged/entrepreneurship">Entrepreneurship</a></li>
										<li class=""><a href="/tagged/future">Future</a></li>
										<li class=""><a href="/tagged/founders">Founders</a></li>
										<li class=""><a href="/tagged/funding">Funding</a></li>
										<li class=""><a href="/tagged/iot">Iot</a></li>
										<li class=""><a href="/tagged/management">Management</a></li>
										<li class=""><a href="/tagged/marketing">Marketing</a></li>
										<li class=""><a href="/rick-and-morty-and-the-meaning-of-life-6640df17e263">Meaning of
												Life</a></li>
										<li class=""><a href="/tagged/robotics">Robotics</a></li>
										<li class=""><a href="/tagged/self-driving-cars">Self-Driving Cars</a></li>
										<li class=""><a href="/tagged/startups">Startups</a></li>
										<li class=""><a href="/tagged/venture-capital">Venture Capital</a></li>
										<li class=""><a href="/tagged/virtual-reality">Virtual Reality</a></li>
									</ul>
								</section>
								<section>
									<header><a href="/tagged/software-development">Software</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/tagged/agile">Agile</a></li>
										<li class=""><a href="/tagged/api">APIs</a></li>
										<li class=""><a href="/tagged/software-architecture">Architecture</a></li>
										<li class=""><a href="/tagged/c">C</a></li>
										<li class=""><a href="/tagged/coding">Coding</a></li>
										<li class=""><a href="/tagged/engineering">Engineering</a></li>
										<li class=""><a href="/tagged/java">Java</a></li>
										<li class=""><a href="/tagged/javascript">Javascript</a></li>
										<li class=""><a href="/four-startup-engineering-killers-1fb5c498391d">Killers</a></li>
										<li class=""><a href="/tagged/mvp">MVP</a></li>
										<li class=""><a href="/tagged/nodejs">NodeJS</a></li>
										<li class=""><a href="/tagged/open-source">Open Source</a></li>
										<li class=""><a href="/tagged/php">PHP</a></li>
										<li class=""><a href="/tagged/programming">Programming</a></li>
										<li class=""><a href="/tagged/python">Python</a></li>
										<li class=""><a href="/tagged/react">React</a></li>
										<li class=""><a href="/tagged/ruby">Ruby</a></li>
										<li class=""><a href="/tagged/sql">SQL</a></li>
										<li class=""><a href="/tagged/swift">Swift</a></li>
										<li class=""><a href="/tagged/vim">Vim</a></li>
									</ul>
								</section>
								<section>
									<header><a href="/tagged/decentralization">Decentralization</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/tagged/altcoins">Altcoins</a></li>
										<li class=""><a href="/tagged/bitcoin">Bitcoin</a></li>
										<li class=""><a href="/search?query=bitcoin%20cash">Bitcoin Cash</a></li>
										<li class=""><a href="/tagged/bitcoin-spotlight">Bitcoin Spotlight</a></li>
										<li class=""><a href="/tagged/blockchain">Blockchain</a></li>
										<li class=""><a href="https://coil.com?ref=hackernoon.com" target="_blank">Coil</a>
										</li>
										<li class=""><a href="/tagged/cryptocurrency">Cryptocurrency</a></li>
										<li class=""><a href="/tagged/cardano">Cardano</a></li>
										<li class=""><a href="/tagged/dapps">DApps</a></li>
										<li class=""><a href="/decentralizing-everything-never-seems-to-work-2bb0461bd168">Does
												It Work?</a></li>
										<li class=""><a href="/tagged/decentralized-web">DWeb</a></li>
										<li class=""><a href="/tagged/eos">EOS</a></li>
										<li class=""><a href="/tagged/ethereum">Ethereum</a></li>
										<li class=""><a href="/tagged/finance">Finance</a></li>
										<li class=""><a href="/tagged/libra">Libra</a></li>
										<li class=""><a
												href="/why-everyone-missed-the-most-important-invention-in-the-last-500-years-c90b0151c169">Mind
												Blown</a></li>
										<li class=""><a href="/tagged/ripple">Ripple</a></li>
										<li class=""><a href="/tagged/space">Space</a></li>
										<li class=""><a href="/tagged/tether">Tether</a></li>
										<li class=""><a href="/how-to-decentralize-twitter-956a37da">Twitter</a></li>
									</ul>
								</section>
							</div>
						</li>
						<li class="sponsor"><a href="/tagged/hackernoon-top-story">Top Stories</a><span>0</span></li>
						<li class="sponsor"><a href="https://publish.hackernoon.com" target="_blank">Write</a><span>0</span></li>
						<li class="sponsor"><a href="/tagged/hackernoon-podcast">Listen</a><span>0</span></li>
						<li class="">
							<a href="https://bit.ly/2w4Dy2J" target="_blank">Learn</a>
							<button class="dropdown-btn">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004">
									<path
										d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
								</svg>

							</button>
							<div class="mobile__menu-item dropdown">
								<section>
									<header>
										<a href="https://bit.ly/3aOybUa" target="_blank">Web Development</a>
										<button><i class="fas fa-times" aria-hidden="true"></i></button>
									</header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="https://bit.ly/2Qcbb9H" target="_blank">Angular 🔗</a></li>
										<li class=""><a href="https://bit.ly/2WaWQOC" target="_blank">Complete Javascript
												Course 2020 🔗</a></li>
										<li class=""><a href="https://bit.ly/2IIlLkK" target="_blank">Cyber Security🔗</a></li>
										<li class=""><a
												href="/how-to-learn-design-patterns-and-pretty-much-anything-else-9c5af6ceaba4">Design
												Patterns</a></li>
										<li class=""><a
												href="/the-feynman-learning-technique-how-to-learn-anything-well-v9x3w7f">Feynman
												Technique</a></li>
										<li class=""><a href="/learn-to-code-in-30-days-my-personal-journey-yv3y3ua0">In 30
												Days</a></li>
										<li class=""><a href="/things-i-learned-from-6-months-of-coding-8w1772dbx">In 6
												Months</a></li>
										<li class=""><a href="/tagged/learning-to-code">Learning to Code</a></li>
										<li class=""><a
												href="/learning-how-to-learn-is-more-important-than-learning-to-code-gy9c3u5c">Learning
												to Learn</a></li>
										<li class=""><a href="/8-free-online-games-to-help-you-learn-coding-vf1k3wld">Learning
												via Games</a></li>
										<li class=""><a href="https://bit.ly/33fgsmr" target="_blank">Web Developer
												Bootcamp🔗</a></li>
										<li class=""><a href="https://bit.ly/2WaWWWu" target="_blank">Web Developer Zero to
												Mastery🔗</a></li>
									</ul>
								</section>
								<section>
									<header><a href="https://bit.ly/2TP6bu9" target="_blank">Data Science</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/what-on-earth-is-data-science-eb1237d8cb37">What is it?</a></li>
										<li class=""><a href="/the-best-50-sites-to-learn-about-data-science-imzr326v">Best 50
												Sites to Learn it</a></li>
										<li class=""><a
												href="/learn-data-engineering-my-favorite-free-resources-52a29ab999b">Data
												Engineering</a></li>
										<li class=""><a href="https://bit.ly/2TKJ9nR" target="_blank">Data Science Course
												2020🔗</a></li>
										<li class=""><a href="https://bit.ly/2xrwEF4" target="_blank">Deep Learning A-Z 🔗</a>
										</li>
										<li class=""><a
												href="/deep-learning-vs-machine-learning-a-simple-explanation-47405b3eef08">Deep
												Learning vs. Machine Learning</a></li>
										<li class=""><a
												href="/how-i-met-and-fell-in-love-with-data-science-2251532c8955">Love</a></li>
										<li class=""><a
												href="/ml-essentials-top-10-lists-every-data-scientist-should-know-10f3try">ML
												Essentials</a></li>
										<li class=""><a href="https://bit.ly/32Ob2zt" target="_blank">PG Program in Artificial
												Intelligence and Machine Learning 🔗</a></li>
										<li class=""><a
												href="/how-to-build-the-perfect-cv-to-land-a-data-science-role-2ga3ttg">Optimize
												Your CV</a></li>
										<li class=""><a href="https://bit.ly/3cQEVTk" target="_blank">Python for Machine
												Learning 🔗</a></li>
										<li class=""><a href="https://bit.ly/2TKy7iq" target="_blank">Statistics for Data
												Science and Business Analysis🔗</a></li>
										<li class=""><a
												href="/ai-from-zero-to-having-a-lot-of-questions-part-i-346k3bow?ref=hackernoon.com">Zero
												to H...</a></li>
									</ul>
								</section>
								<section>
									<header><a href="https://bit.ly/2IEtq3D" target="_blank">Languages</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/search?query=learn+blockchain">Blockchain</a></li>
										<li class=""><a href="/search?query=learn%20C#">C C# C++</a></li>
										<li class=""><a href="/search?query=learn%20go">Go</a></li>
										<li class=""><a href="https://bit.ly/2Qd5rwt" target="_blank">HTML &amp; CSS🔗</a></li>
										<li class=""><a href="https://bit.ly/3aO20En" target="_blank">Javascript🔗</a></li>
										<li class=""><a href="https://bit.ly/38OVATY" target="_blank">Java 🔗</a></li>
										<li class=""><a href="/search?query=learn%20php">PHP</a></li>
										<li class=""><a href="https://bit.ly/2Qd5nNf" target="_blank">Python 🔗</a></li>
										<li class=""><a href="https://bit.ly/38G7Mbi" target="_blank">MongoDB 🔗</a></li>
										<li class=""><a href="/search?query=learn%20ruby-on-rails">Ruby on Rails</a></li>
										<li class=""><a href="https://bit.ly/39NWtxo" target="_blank">SQL 🔗</a></li>
										<li class=""><a
												href="/turn-your-self-isolation-into-self-improvement-hacker-noon-newsletters-oz1b832ry">In
												Partnership With Udemy</a></li>
									</ul>
								</section>
							</div>
						</li>
						<li class="sponsor">
							<a href="https://sponsor.hackernoon.com/" target="_blank">Advertise</a>
							<button class="dropdown-btn">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004">
									<path
										d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
								</svg>

							</button>
							<div class="mobile__menu-item dropdown">
								<section>
									<header>
										<a href="https://sponsor.hackernoon.com/brand-as-author" target="_blank">Post</a>
										<button>
											<i class="fas fa-times" aria-hidden="true"></i>
										</button>
									</header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="https://sponsor.hackernoon.com/brand-as-author"
												target="_blank">Corporate Blog Posts</a></li>
										<li class=""><a href="https://sponsor.hackernoon.com/brand-as-author"
												target="_blank">Tech News Release</a></li>
									</ul>
								</section>
								<section>
									<header><a href="https://sponsor.hackernoon.com" target="_blank">Place an Ad</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="https://sponsor.hackernoon.com/ad-by-tag"
												target="_blank">Targeted Niche Marketing</a></li>
										<li class=""><a href="https://sponsor.hackernoon.com/billboard"
												target="_blank">Sitewide Takeover</a></li>
									</ul>
								</section>
							</div>
						</li>
						<li class="">
							<a href="https://about.hackernoon.com/" target="_blank">About</a>
							<button class="dropdown-btn">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004">
									<path
										d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
								</svg>

							</button>
							<div class="mobile__menu-item dropdown">
								<section>
									<header>
										<a href="https://about.hackernoon.com/" target="_blank">About</a>
										<button><i class="fas fa-times" aria-hidden="true"></i></button>
									</header>
									<ul class="mobile__dropdown-list">
										<li class="">
											<a href="https://readwrite.com/2020/06/10/hacker-noon-adds-quantitative-social-proof-and-web-monetization-standards/"
												target="_blank">A Recent Story</a>
										</li>
										<li class=""><a href="/@David">CEO</a></li>
										<li class=""><a href="/@linh">COO</a></li>
										<li class=""><a href="/@Dane">CPO</a></li>
										<li class=""><a href="https://www.startengine.com/hackernoon" target="_blank">Equity
												Crowdfunding</a></li>
										<li class=""><a href="/hacker-noon-faqs-with-six-word-answers-aw1ls3z1q">In Six Words
												or Less</a></li>
										<li class=""><a href="https://www.linkedin.com/company/hackernoon"
												target="_blank">LinkedIn</a></li>
										<li class=""><a href="https://www.instagram.com/hackernoon/" target="_blank">On the
												Gram</a></li>
										<li class=""><a href="https://podcast.hackernoon.com/" target="_blank">Our Podcast</a>
										</li>
										<li class=""><a href="https://giphy.com/hackernoon" target="_blank">Tech GIFs</a></li>
									</ul>
								</section>
								<section>
									<header><a href="https://auth.hackernoon.com" target="_blank">Write</a></header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="https://app.hackernoon.com/profile/rewards" target="_blank">Add
												Coil Meta Tag</a></li>
										<li class=""><a href="/three-things-about-headlines-3wc23ztl">Better Headlines</a></li>
										<li class="">
											<a href="https://help.hackernoon.com/app/page/1HNTGwm_UAfdEv9nEKmZHjQHRJtYgLnMIEZ6Vw_ZRZvQ"
												target="_blank">Create Your Own Call To Action</a>
										</li>
										<li class="">
											<a href="https://help.hackernoon.com/" target="_blank">Help Section</a>
										</li>
										<li class="">
											<a href="https://publish.hackernoon.com/" target="_blank">Get Published</a>
										</li>
										<li class="">
											<a href="https://help.hackernoon.com/app/page/1-wg7bxonxAFWdTYl5G4gJwvWLo0iWfBi-XKbdjcYva0"
												target="_blank">Submit a Story Checklist</a>
										</li>
										<li class="">
											<a href="https://help.hackernoon.com/app/page/1fWmAG6zSc-EuxBhHYt-tUIR0wfefRxkmpVRD46byKTw"
												target="_blank">Troubleshooting Account Creation</a>
										</li>
										<li class="">
											<a href="/how-to-get-published-on-hacker-noon-a-step-by-step-guide-zcp36rz">Writing
												Guide</a>
										</li>
										<li class="">
											<a href="https://auth.hackernoon.com" target="_blank">Write Now</a>
										</li>
									</ul>
								</section>
								<section>
									<header>
										<a href="https://noonies.tech" target="_blank">Noonies 2020</a>
									</header>
									<ul class="mobile__dropdown-list">
										<li class="">
											<a href="https://noonies.tech/#internet" target="_blank">Back to the Internet</a>
										</li>
										<li class="">
											<a href="https://noonies.tech/#blockchain" target="_blank">Decentralization</a>
										</li>
										<li class="">
											<a href="/wtf-are-the-noonies-kjh3yv9">FAQ</a>
										</li>
										<li class="">
											<a href="https://noonies.tech/#heroes" target="_blank">Future Heroes</a>
										</li>
										<li class="">
											<a href="/tagged/noonies">Interviews</a>
										</li>
										<li class="">
											<a
												href="/podcast-the-2020-noonies-are-here-and-even-greener-than-last-year-vle3y4c">Podcast</a>
										</li>
										<li class="">
											<a href="https://noonies.tech/#development" target="_blank">Software</a>
										</li>
										<li class="">
											<a href="/tagged/noonies">Stories</a>
										</li>
										<li class="">
											<a href="https://noonies.tech/#tech" target="_blank">Technology</a>
										</li>
										<li class="">
											<a href="https://www.youtube.com/watch?v=A9cdOVuOfp8" target="_blank">Video</a>
										</li>
										<li class="">
											<a href="https://noonies.hackernoon.com/" target="_blank">2019 Inaugerial
												Winners</a>
										</li>
									</ul>
								</section>
							</div>
						</li>
						<li class="">
							<a href="/about-tech-company-news-pages-by-hacker-noon-uwu34bh">Tech Companies</a>
							<button class="dropdown-btn">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.004 492.004">
									<path
										d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z" />
								</svg>

							</button>
							<div class="mobile__menu-item dropdown">
								<section>
									<header>
										<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">A to
											F</a>
										<button><i class="fas fa-times" aria-hidden="true"></i></button>
									</header>
									<ul class="mobile__dropdown-list">
										<li class="">
											<a href="/company/adobe">Adobe</a>
										</li>
										<li class="">
											<a href="/company/amazon">Amazon</a>
										</li>
										<li class="">
											<a href="/company/apache">Apache</a>
										</li>
										<li class="">
											<a href="/company/apple">Apple</a>
										</li>
										<li class="">
											<a href="/company/atlassian">Atlassian</a>
										</li>
										<li class="">
											<a href="/company/att">ATT</a>
										</li>
										<li class="">
											<a href="/company/bankofamerica">BoA</a>
										</li>
										<li class="">
											<a href="/company/comcast">Comcast</a>
										</li>
										<li class="">
											<a href="/company/ebay">Ebay</a>
										</li>
										<li class="">
											<a href="/company/facebook">Facebook</a>
										</li>
									</ul>
								</section>
								<section>
									<header>
										<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">G to
											N</a>
									</header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/company/google">Google</a></li>
										<li class=""><a href="/company/hp">HP</a></li>
										<li class=""><a href="/company/ibm">IBM</a></li>
										<li class=""><a href="/company/intel">Intel</a></li>
										<li class=""><a href="/company/intuit">Intuit</a></li>
										<li class=""><a href="/company/mcdonald">McDonalds</a></li>
										<li class=""><a href="/company/microsoft">Microsoft</a></li>
										<li class=""><a href="/company/netflix">Netflix</a></li>
										<li class=""><a href="/company/nvidia?ref=hackernoon.com">Nvidia</a></li>
									</ul>
								</section>
								<section>
									<header>
										<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">O to
											Z</a>
									</header>
									<ul class="mobile__dropdown-list">
										<li class=""><a href="/company/3m">3m</a></li>
										<li class=""><a href="/company/oracle">Oracle</a></li>
										<li class=""><a href="/company/pfizer">Pfizer</a></li>
										<li class=""><a href="/company/tesla">Tesla</a></li>
										<li class=""><a href="/company/texasinstruments">Texas Instruments</a></li>
										<li class=""><a href="/company/tencent">Tencent</a></li>
										<li class=""><a href="/company/twitter">Twitter</a></li>
										<li class=""><a href="/company/uber">Uber</a></li>
										<li class=""><a
												href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">See
												All 913 Tech Companies</a></li>
									</ul>
								</section>
							</div>
						</li>
						<li class="sponsor"><a href="https://experts.hackernoon.com" target="_blank">Experts 📞</a><span>0</span></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="header__bottom">

		<div class="header__menu">
			<ul class="header__menu-list">
				<li class="header__menu-item dropdown">
					<a href="https://hackernoon.com/tagged">Read</a>


					<div class="dropdown__nav">
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/tagged/tech">
									Tech
								</a>
								<div class="line"></div>
							</div>
							<ul class="dropdown__list">
								<li class=""><a href="/tagged/ai">AI</a></li>
								<li class=""><a href="/tagged/automation">Automation</a></li>
								<li class=""><a href="/tagged/business">Business</a></li>
								<li class=""><a href="/tagged/data">Data</a></li>
								<li class=""><a href="/tagged/data-science">Data Science</a></li>
								<li class=""><a href="/tagged/deep-fakes">Deep Fakes</a></li>
								<li class=""><a href="/tagged/economics">Economics</a></li>
								<li class=""><a href="/tagged/entrepreneurship">Entrepreneurship</a></li>
								<li class=""><a href="/tagged/future">Future</a></li>
								<li class=""><a href="/tagged/founders">Founders</a></li>
								<li class=""><a href="/tagged/funding">Funding</a></li>
								<li class=""><a href="/tagged/iot">Iot</a></li>
								<li class=""><a href="/tagged/management">Management</a></li>
								<li class=""><a href="/tagged/marketing">Marketing</a></li>
								<li class=""><a href="/rick-and-morty-and-the-meaning-of-life-6640df17e263">Meaning of Life</a>
								</li>
								<li class=""><a href="/tagged/robotics">Robotics</a></li>
								<li class=""><a href="/tagged/self-driving-cars">Self-Driving Cars</a></li>
								<li class=""><a href="/tagged/startups">Startups</a></li>
								<li class=""><a href="/tagged/venture-capital">Venture Capital</a></li>
								<li class=""><a href="/tagged/virtual-reality">Virtual Reality</a></li>
							</ul>
						</div>
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/tagged/software-development">Software</a>
								<div class="line"></div>
							</div>
							<ul class="dropdown__list">
								<li class=""><a href="/tagged/agile">Agile</a></li>
								<li class=""><a href="/tagged/api">APIs</a></li>
								<li class=""><a href="/tagged/software-architecture">Architecture</a></li>
								<li class=""><a href="/tagged/c">C</a></li>
								<li class=""><a href="/tagged/coding">Coding</a></li>
								<li class=""><a href="/tagged/engineering">Engineering</a></li>
								<li class=""><a href="/tagged/java">Java</a></li>
								<li class=""><a href="/tagged/javascript">Javascript</a></li>
								<li class=""><a href="/four-startup-engineering-killers-1fb5c498391d">Killers</a></li>
								<li class=""><a href="/tagged/mvp">MVP</a></li>
								<li class=""><a href="/tagged/nodejs">NodeJS</a></li>
								<li class=""><a href="/tagged/open-source">Open Source</a></li>
								<li class=""><a href="/tagged/php">PHP</a></li>
								<li class=""><a href="/tagged/programming">Programming</a></li>
								<li class=""><a href="/tagged/python">Python</a></li>
								<li class=""><a href="/tagged/react">React</a></li>
								<li class=""><a href="/tagged/ruby">Ruby</a></li>
								<li class=""><a href="/tagged/sql">SQL</a></li>
								<li class=""><a href="/tagged/swift">Swift</a></li>
								<li class=""><a href="/tagged/vim">Vim</a></li>
							</ul>
						</div>
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/tagged/decentralization">Decentralization</a>
								<div class="line"></div>
							</div>
							<ul class="dropdown__list">
								<li class=""><a href="/tagged/altcoins">Altcoins</a></li>
								<li class=""><a href="/tagged/bitcoin">Bitcoin</a></li>
								<li class=""><a href="/search?query=bitcoin%20cash">Bitcoin Cash</a></li>
								<li class=""><a href="/tagged/bitcoin-spotlight">Bitcoin Spotlight</a></li>
								<li class=""><a href="/tagged/blockchain">Blockchain</a></li>
								<li class=""><a href="https://coil.com?ref=hackernoon.com" target="_blank">Coil</a></li>
								<li class=""><a href="/tagged/cryptocurrency">Cryptocurrency</a></li>
								<li class=""><a href="/tagged/cardano">Cardano</a></li>
								<li class=""><a href="/tagged/dapps">DApps</a></li>
								<li class=""><a href="/decentralizing-everything-never-seems-to-work-2bb0461bd168">Does It
										Work?</a></li>
								<li class=""><a href="/tagged/decentralized-web">DWeb</a></li>
								<li class=""><a href="/tagged/eos">EOS</a></li>
								<li class=""><a href="/tagged/ethereum">Ethereum</a></li>
								<li class=""><a href="/tagged/finance">Finance</a></li>
								<li class=""><a href="/tagged/libra">Libra</a></li>
								<li class=""><a
										href="/why-everyone-missed-the-most-important-invention-in-the-last-500-years-c90b0151c169">Mind
										Blown</a></li>
								<li class=""><a href="/tagged/ripple">Ripple</a></li>
								<li class=""><a href="/tagged/space">Space</a></li>
								<li class=""><a href="/tagged/tether">Tether</a></li>
								<li class=""><a href="/how-to-decentralize-twitter-956a37da">Twitter</a></li>
							</ul>
						</div>
					</div>


				</li>
				<li class="header__menu-item">
					<a href="/tagged/hackernoon-top-story">Top Stories</a>
				</li>

				<li class="header__menu-item">
					<a href="https://publish.hackernoon.com" target="_blank">Write</a>
				</li>

				<li class="header__menu-item">
					<a href="/tagged/hackernoon-podcast">Listen</a>
				</li>

				<li class="header__menu-item dropdown">
					<a href="https://bit.ly/2w4Dy2J" target="_blank" style="">Learn</a>


					<div class="dropdown__nav">
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://bit.ly/3aOybUa" target="_blank">Web Development</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="https://bit.ly/2Qcbb9H" target="_blank">Angular 🔗</a></li>
								<li class=""><a href="https://bit.ly/2WaWQOC" target="_blank">Complete Javascript Course
										2020🔗</a></li>
								<li class=""><a href="https://bit.ly/2IIlLkK" target="_blank">Cyber Security🔗</a></li>
								<li class=""><a
										href="/how-to-learn-design-patterns-and-pretty-much-anything-else-9c5af6ceaba4">Design
										Patterns</a></li>
								<li class=""><a
										href="/the-feynman-learning-technique-how-to-learn-anything-well-v9x3w7f">Feynman
										Technique</a></li>
								<li class=""><a href="/learn-to-code-in-30-days-my-personal-journey-yv3y3ua0">In 30 Days</a>
								</li>
								<li class=""><a href="/things-i-learned-from-6-months-of-coding-8w1772dbx">In 6 Months</a></li>
								<li class=""><a href="/tagged/learning-to-code">Learning to Code</a></li>
								<li class=""><a
										href="/learning-how-to-learn-is-more-important-than-learning-to-code-gy9c3u5c">Learning to
										Learn</a></li>
								<li class=""><a href="/8-free-online-games-to-help-you-learn-coding-vf1k3wld">Learning via
										Games</a></li>
								<li class=""><a href="https://bit.ly/33fgsmr" target="_blank">Web Developer Bootcamp 🔗</a></li>
								<li class=""><a href="https://bit.ly/2WaWWWu" target="_blank">Web Developer Zero to
										Mastery🔗</a></li>
							</ul>
						</div>
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://bit.ly/2TP6bu9" target="_blank">Data Science</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="/what-on-earth-is-data-science-eb1237d8cb37">What is it?</a></li>
								<li class=""><a href="/the-best-50-sites-to-learn-about-data-science-imzr326v">Best 50 Sites to
										Learn it</a></li>
								<li class=""><a href="/learn-data-engineering-my-favorite-free-resources-52a29ab999b">Data
										Engineering</a></li>
								<li class=""><a href="https://bit.ly/2TKJ9nR" target="_blank">Data Science Course 2020 🔗</a>
								</li>
								<li class=""><a href="https://bit.ly/2xrwEF4" target="_blank">Deep Learning A-Z 🔗</a></li>
								<li class=""><a href="/deep-learning-vs-machine-learning-a-simple-explanation-47405b3eef08">Deep
										Learning vs. Machine Learning</a></li>
								<li class=""><a href="/how-i-met-and-fell-in-love-with-data-science-2251532c8955">Love</a></li>
								<li class=""><a href="/ml-essentials-top-10-lists-every-data-scientist-should-know-10f3try">ML
										Essentials</a></li>
								<li class=""><a href="https://bit.ly/32Ob2zt" target="_blank">PG Program in Artificial
										Intelligence and Machine Learning 🔗</a></li>
								<li class=""><a href="/how-to-build-the-perfect-cv-to-land-a-data-science-role-2ga3ttg">Optimize
										Your CV</a></li>
								<li class=""><a href="https://bit.ly/3cQEVTk" target="_blank">Python for Machine Learning 🔗</a>
								</li>
								<li class=""><a href="https://bit.ly/2TKy7iq" target="_blank">Statistics for Data Science and
										Business Analysis🔗</a></li>
								<li class=""><a
										href="/ai-from-zero-to-having-a-lot-of-questions-part-i-346k3bow?ref=hackernoon.com">Zero
										to H...</a></li>
							</ul>

						</div>
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://bit.ly/2IEtq3D" target="_blank">Languages</a>
								<div class="line"></div>
							</div>
							<ul class="dropdown__list">
								<li class=""><a href="/search?query=learn+blockchain">Blockchain</a></li>
								<li class=""><a href="/search?query=learn%20C#">C C# C++</a></li>
								<li class=""><a href="/search?query=learn%20go">Go</a></li>
								<li class=""><a href="https://bit.ly/2Qd5rwt" target="_blank">HTML &amp; CSS🔗</a></li>
								<li class=""><a href="https://bit.ly/3aO20En" target="_blank">Javascript🔗</a></li>
								<li class=""><a href="https://bit.ly/38OVATY" target="_blank">Java 🔗</a></li>
								<li class=""><a href="/search?query=learn%20php">PHP</a></li>
								<li class=""><a href="https://bit.ly/2Qd5nNf" target="_blank">Python 🔗</a></li>
								<li class=""><a href="https://bit.ly/38G7Mbi" target="_blank">MongoDB 🔗</a></li>
								<li class=""><a href="/search?query=learn%20ruby-on-rails">Ruby on Rails</a></li>
								<li class=""><a href="https://bit.ly/39NWtxo" target="_blank">SQL 🔗</a></li>
								<li class=""><a
										href="/turn-your-self-isolation-into-self-improvement-hacker-noon-newsletters-oz1b832ry">In
										Partnership With Udemy</a></li>
							</ul>
						</div>
					</div>


				</li>

				<li class="header__menu-item dropdown adv">
					<a href="https://sponsor.hackernoon.com/" target="_blank">Advertise</a>


					<div class="dropdown__nav">
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://sponsor.hackernoon.com/brand-as-author" target="_blank">Post</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class="">
									<a href="https://sponsor.hackernoon.com/brand-as-author" target="_blank">Corporate Blog
										Posts</a>
								</li>
								<li class="">
									<a href="https://sponsor.hackernoon.com/brand-as-author" target="_blank">Tech News
										Release</a>
								</li>
							</ul>
						</div>
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://sponsor.hackernoon.com" target="_blank">Place an Ad</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class="">
									<a href="https://sponsor.hackernoon.com/ad-by-tag" target="_blank">Targeted Niche
										Marketing</a>
								</li>
								<li class="">
									<a href="https://sponsor.hackernoon.com/billboard" target="_blank">Sitewide Takeover</a>
								</li>
							</ul>


						</div>

					</div>


				</li>

				<li class="header__menu-item dropdown">
					<a href="https://about.hackernoon.com/" target="_blank">About</a>

					<div class="dropdown__nav">
						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://about.hackernoon.com/" target="_blank">About</a>
								<div class="line"></div>
							</div>
							<ul class="dropdown__list">
								<li class=""><a
										href="https://readwrite.com/2020/06/10/hacker-noon-adds-quantitative-social-proof-and-web-monetization-standards/"
										target="_blank">A Recent Story</a></li>
								<li class=""><a href="/@David">CEO</a></li>
								<li class=""><a href="/@linh">COO</a></li>
								<li class=""><a href="/@Dane">CPO</a></li>
								<li class=""><a href="https://www.startengine.com/hackernoon" target="_blank">Equity
										Crowdfunding</a></li>
								<li class=""><a href="/hacker-noon-faqs-with-six-word-answers-aw1ls3z1q">In Six Words or
										Less</a></li>
								<li class=""><a href="https://www.linkedin.com/company/hackernoon" target="_blank">LinkedIn</a>
								</li>
								<li class=""><a href="https://www.instagram.com/hackernoon/" target="_blank">On the Gram</a>
								</li>
								<li class=""><a href="https://podcast.hackernoon.com/" target="_blank">Our Podcast</a></li>
								<li class=""><a href="https://giphy.com/hackernoon" target="_blank">Tech GIFs</a></li>
							</ul>

						</div>

						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://auth.hackernoon.com" target="_blank">Write</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="https://app.hackernoon.com/profile/rewards" target="_blank">Add Coil Meta
										Tag</a></li>
								<li class=""><a href="/three-things-about-headlines-3wc23ztl">Better Headlines</a></li>
								<li class=""><a
										href="https://help.hackernoon.com/app/page/1HNTGwm_UAfdEv9nEKmZHjQHRJtYgLnMIEZ6Vw_ZRZvQ"
										target="_blank">Create Your Own Call To Action</a></li>
								<li class=""><a href="https://help.hackernoon.com/" target="_blank">Help Section</a></li>
								<li class=""><a href="https://publish.hackernoon.com/" target="_blank">Get Published</a></li>
								<li class=""><a
										href="https://help.hackernoon.com/app/page/1-wg7bxonxAFWdTYl5G4gJwvWLo0iWfBi-XKbdjcYva0"
										target="_blank">Submit a Story Checklist</a></li>
								<li class=""><a
										href="https://help.hackernoon.com/app/page/1fWmAG6zSc-EuxBhHYt-tUIR0wfefRxkmpVRD46byKTw"
										target="_blank">Troubleshooting Account Creation</a></li>
								<li class=""><a href="/how-to-get-published-on-hacker-noon-a-step-by-step-guide-zcp36rz">Writing
										Guide</a></li>
								<li class=""><a href="https://auth.hackernoon.com" target="_blank">Write Now</a></li>
							</ul>


						</div>

						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="https://noonies.tech" target="_blank">Noonies 2020</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="https://noonies.tech/#internet" target="_blank">Back to the Internet</a>
								</li>
								<li class=""><a href="https://noonies.tech/#blockchain" target="_blank">Decentralization</a>
								</li>
								<li class=""><a href="/wtf-are-the-noonies-kjh3yv9">FAQ</a></li>
								<li class=""><a href="https://noonies.tech/#heroes" target="_blank">Future Heroes</a></li>
								<li class=""><a href="/tagged/noonies">Interviews</a></li>
								<li class=""><a
										href="/podcast-the-2020-noonies-are-here-and-even-greener-than-last-year-vle3y4c">Podcast</a>
								</li>
								<li class=""><a href="https://noonies.tech/#development" target="_blank">Software</a></li>
								<li class=""><a href="/tagged/noonies">Stories</a></li>
								<li class=""><a href="https://noonies.tech/#tech" target="_blank">Technology</a></li>
								<li class=""><a href="https://www.youtube.com/watch?v=A9cdOVuOfp8" target="_blank">Video</a>
								</li>
								<li class=""><a href="https://noonies.hackernoon.com/" target="_blank">2019 Inaugerial
										Winners</a></li>
							</ul>

						</div>


					</div>

				</li>

				<li class="header__menu-item dropdown">
					<a href="/about-tech-company-news-pages-by-hacker-noon-uwu34bh">Tech Companies</a>


					<div class="dropdown__nav">

						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">A to F</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="/company/adobe">Adobe</a></li>
								<li class=""><a href="/company/amazon">Amazon</a></li>
								<li class=""><a href="/company/apache">Apache</a></li>
								<li class=""><a href="/company/apple">Apple</a></li>
								<li class=""><a href="/company/atlassian">Atlassian</a></li>
								<li class=""><a href="/company/att">ATT</a></li>
								<li class=""><a href="/company/bankofamerica">BoA</a></li>
								<li class=""><a href="/company/comcast">Comcast</a></li>
								<li class=""><a href="/company/ebay">Ebay</a></li>
								<li class=""><a href="/company/facebook">Facebook</a></li>
							</ul>

						</div>

						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">G to N</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="/company/google">Google</a></li>
								<li class=""><a href="/company/hp">HP</a></li>
								<li class=""><a href="/company/ibm">IBM</a></li>
								<li class=""><a href="/company/intel">Intel</a></li>
								<li class=""><a href="/company/intuit">Intuit</a></li>
								<li class=""><a href="/company/mcdonald">McDonalds</a></li>
								<li class=""><a href="/company/microsoft">Microsoft</a></li>
								<li class=""><a href="/company/netflix">Netflix</a></li>
								<li class=""><a href="/company/nvidia?ref=hackernoon.com">Nvidia</a></li>
							</ul>


						</div>

						<div class="dropdown__nav-menu">
							<div class="dropdown__nav-menu-title">
								<a href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">O to Z</a>
								<div class="line"></div>
							</div>

							<ul class="dropdown__list">
								<li class=""><a href="/company/3m">3m</a></li>
								<li class=""><a href="/company/oracle">Oracle</a></li>
								<li class=""><a href="/company/pfizer">Pfizer</a></li>
								<li class=""><a href="/company/tesla">Tesla</a></li>
								<li class=""><a href="/company/texasinstruments">Texas Instruments</a></li>
								<li class=""><a href="/company/tencent">Tencent</a></li>
								<li class=""><a href="/company/twitter">Twitter</a></li>
								<li class=""><a href="/company/uber">Uber</a></li>
								<li class=""><a
										href="/new-feature-alert-913-tech-company-news-pages-on-hacker-noon-th1334q2">See All 913
										Tech Companies</a></li>
							</ul>

						</div>

					</div>

				</li>

				<li class="header__menu-item">
					<a href="https://experts.hackernoon.com" target="_blank">Experts 📞</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="header__adv">
		<a class="header__adv-link" href="http://bit.ly/39D04Ry" target="_blank">
			<img src="https://hackernoon.com/images/img-7y232pk.jpeg" alt="Webiny ad">
			All you need to build serverless apps
		</a>
	</div>
</header>